// Custom Homepage CSS
$base-purple: #331a57;

#toolbar-item-administration-tray {
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: $base-purple;
}

a {
	color: $base-purple;
	&:hover, &:focus {
		color: $base-purple;
	}
}

.path-frontpage {
    h1 {
        display: none;
    }
}

.navbar-brand {
    display: none;
}

.region-navigation {
    text-align: center;
    .navbar-btn {
        float: none !important;
        img {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

@import '_homepage';