.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#toolbar-item-administration-tray {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #331a57;
}

a {
  color: #331a57;
}
a:hover, a:focus {
  color: #331a57;
}

.path-frontpage h1 {
  display: none;
}

.navbar-brand {
  display: none;
}

.region-navigation {
  text-align: center;
}
.region-navigation .navbar-btn {
  float: none !important;
}
.region-navigation .navbar-btn img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.views-field-edit-node {
  text-align: right;
  width: 5%;
}
.views-field-edit-node a {
  font-size: 2.2em;
}

header {
  margin-bottom: 10px;
}
header .container {
  background-color: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
}
header .navbar-brand img {
  height: 130px;
  margin-left: 10px;
}
header .views-element-container {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 0.9em;
}
header .views-element-container .views-field-field-last-name {
  float: right;
  margin-left: 5px;
}
header .views-element-container .views-field-field-first-name {
  float: left;
}
header .views-element-container .views-field-user-picture {
  text-align: center;
}
header .views-element-container .views-field-field-membership-number {
  text-align: right;
}

.homepage-tiles {
  padding-left: 0px;
}
.homepage-tiles .homepage-tiles--tile a {
  display: block;
  border: 2px solid #331a57;
  width: 100%;
  min-height: 210px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: all 0.5s;
}
.homepage-tiles .homepage-tiles--tile a:hover {
  background-color: #331a57;
}
.homepage-tiles .homepage-tiles--tile a:hover svg {
  color: white;
}
.homepage-tiles .homepage-tiles--tile a:hover span {
  color: white;
}
.homepage-tiles .homepage-tiles--tile a svg {
  color: #331a57;
  font-size: 8em;
}
.homepage-tiles .homepage-tiles--tile a span {
  font-size: 1.8em;
  color: black;
}

.views-field-field-severity {
  width: 19%;
}

.views-field-created {
  width: 20%;
}

.views-field-field-status svg {
  font-size: 2.4em;
  color: #00A86B;
}

footer {
  border-top: 1px solid #e7e7e7;
}